<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />

		<add key="DBSERVER" value="wrdsql09" />
		<add key="DBUSER" value="gfcc" />
		<add key="DBPASS" value="=A^c9D2,6-x%KmXL)QT.`!R" />

		<add key="UploadFolderIBL" value="C:\Users\ronal putra\Documents\sourcecode\GFCC_WEB\WebApp\Content\uploads\internalblacklist\" />
		<add key="UploadFileHRC" value="C:\Users\ronal putra\Documents\sourcecode\GFCC_WEB\WebApp\Content\uploads\HRC\" />

		<add key="WebLogs" value="C:\Users\ronal putra\Documents\sourcecode\MyGit\GFCC_WEB\BatchingFileWatcher\content\logs\logsfile.log" />
		<!--
	<add key ="JsonDir" value="C:\Users\amri permana\Downloads\batchinga\"/>
	<add key="JsonDst" value="C:\Users\amri permana\Downloads\batchinga\"/>
	-->

		<add key ="JsonDir" value="D:\GFCC\AutomationBatch\JsonFile\"/>
		<add key="JsonDst" value="D:\GFCC\AutomationBatch\JsonFile\"/>
	
		<add key="UdmDir" value="F:\AMFS\netreveal82\uat\"/>
		<!--\\wrcweb03\netreveal82\sit\cust_daily\out\-->
		<add key="WinUser" value="Ronal Putra"/>
		<add key="WinPass" value="Poetra2023"/>

		<add key="ServiceGPG_Enabled" value="true"/>
		<add key="ServiceGPG" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe"/>
		<add key="KeyID_GPG" value="69F1D7BE"/>

		<!--
    <add key="UploadFolderIBL" value="D:\GFCC\WebAppContent\uploads\internalblacklist\" />
    <add key="WebLogs" value="D:\GFCC\WebApp\Logs\logsfile.log" />
    <add key="JsonDir" value="D:\GFCC\WebApp\Content\json_file\" />
    <add key="JsonDst" value="E:\GFCC_Home_UDM\" />
    
    <add key="WinUser" value="AXA-INDONESIA\IT_SOD APP_SERVICES"/>
    <add key="WinPass" value="k9%~@tt0WrE!&Se"/>
    
    <add key="ServiceGPG_Enabled" value="false" />
    <add key="ServiceGPG" value="C:\Program Files (x86)\GnuPG\bin\gpg.exe" />
    <add key="KeyID_GPG" value="DEF3689ABF690AD6" /> 
    inandjo
    -->

		<add key="ElasticApm:ServerUrl" value="http://wrcapp12:8200" />
		<add key="ElasticApm:SecretToken" value="apm-server-secret-token" />
		<add key="ElasticApm:ServiceName" value="BatchingFileWatcher" />
		<add key="ElasticApm:Environment" value="development" />
	</appSettings>
	<connectionStrings>
		<!-- DEV-->
	
        <add
            name="GFCCTSTGContext"
            providerName="Microsoft.Data.SqlClient"
            connectionString="Server=wrdsql09;Database=STG_DB;User Id=gfcc;Password=A^c9D2,6-x%KmXL)QT.`!R;MultipleActiveResultSets=true;Encrypt=false" />
		<add
            name="GFCCTWEB09Context"
            providerName="Microsoft.Data.SqlClient"
            connectionString="Server=wrdsql09;Database=GFCC_WEB;User Id=gfcc;Password=A^c9D2,6-x%KmXL)QT.`!R;MultipleActiveResultSets=true;Encrypt=false" />
		<add
				name="GFCCTContext"
				providerName="Microsoft.Data.SqlClient"
				connectionString="Server=wrdsql09;Database=GFCC;User Id=gfcc;Password=A^c9D2,6-x%KmXL)QT.`!R;MultipleActiveResultSets=true;Encrypt=false" />
		<add
            name="GFCCTWEBContext"
            providerName="Microsoft.Data.SqlClient"
            connectionString="Server=wrdsql09;Database=GFCC_WEB;User Id=gfcc;Password=A^c9D2,6-x%KmXL)QT.`!R;MultipleActiveResultSets=true;Encrypt=false" />
	
		<!-- PRD-->
<!--
		<add
				name="GFCCTSTGContext"
				providerName="Microsoft.Data.SqlClient"
				connectionString="Server=wrcsql17;Database=STG_DB;User Id=gfcct;Password=PgN4M8weAcRs57dfKz2;MultipleActiveResultSets=true;Encrypt=false" />
		<add
            name="GFCCTWEB09Context"
            providerName="Microsoft.Data.SqlClient"
            connectionString="Server=wrcsql17;Database=GFCC_WEB;User Id=gfcct;Password=PgN4M8weAcRs57dfKz2;MultipleActiveResultSets=true;Encrypt=false" />
		<add
				name="GFCCTContext"
				providerName="Microsoft.Data.SqlClient"
				connectionString="Server=wrcsql17;Database=GFCC;User Id=gfcct;Password=PgN4M8weAcRs57dfKz2;MultipleActiveResultSets=true;Encrypt=false" />
		<add
            name="GFCCTWEBContext"
            providerName="Microsoft.Data.SqlClient"
            connectionString="Server=wrcsql17;Database=GFCC_WEB;User Id=gfcct;Password=PgN4M8weAcRs57dfKz2;MultipleActiveResultSets=true;Encrypt=false" />
-->

	</connectionStrings>
</configuration>